    * {
        padding: 0;
        margin: 0;
        font-family: 'Segoe UI';
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Segoe UI';
    }
    
    nav {
        background: black;
        height: 60px;
        width: 100%;
    }
    
    label.logo {
        color: white;
        font-size: 35px;
        line-height: 60px;
        padding: 0 100px;
        font-weight: bold;
    }
    
    nav ul {
        float: right;
        margin-right: 150px;
    }
    
    nav ul li {
        display: inline-block;
        line-height: 50px;
        margin: 0 10px;
    }
    
    nav ul li a {
        color: white;
    }
    
    nav ul li a {
        color: white;
        font-size: 17px;
        padding: 30px 17px;
        border-radius: 8px;
        text-transform: uppercase;
    }
    
    a.active,
    a:hover {
        background: #1b9bff;
        transform: -5s;
    }
    
    header {
        background-color: black;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        font-size: 20px;
    }
    
    .btn {
        padding: 6px 20px;
        border: 2 solid wheat;
        background-color: rgb(120, 11, 11);
        color: white;
        margin: 17px;
        font-size: 1.rem;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .title {
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-left: 100px;
    }
    
    .cards {
        margin-top: 40px;
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .card {
        width: 300px;
        border: 1px solid gray;
        border: none;
        box-shadow: 1px 1px 1px 1px rgba(13, 1, 1, 0.853);
        height: 480px;
        background-color: rgba(251, 248, 248, 0.916);
    }
    
    .cardname {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px;
    }
    
    .btn {
        font-size: 15px;
        background-color: rgb(223, 14, 80);
        border-radius: 5px;
        padding: 10px;
        color: white;
        width: 120px;
    }
    
    .bt {
        margin: 10px;
    }
    
    .p {
        margin: 10px;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .middle {
        margin-left: 150px;
        margin-right: 200px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    
    .abc {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .throw {
        background-color: white;
        height: 550px;
    }
    /* gallery css */
    
    throw {
        background-color: white;
        height: 200x;
    }
    
    .backcolor {
        background-color: rgb(230, 199, 199);
    }
    
    .forthrow {
        display: flex;
        flex-wrap: wrap;
    }
    
    .forthrow div {
        margin-left: 6px;
    }
    
    .forthrow img {
        width: 373px;
        height: 300px;
    }
    /* Clients Section */
    
    #client-section {
        position: relative;
    }
    
    #client-section::before {
        content: "";
        position: absolute;
        background: url('../bg.jpg');
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.3;
    }
    
    #clients {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .client-item {
        padding: 34px;
    }
    
    #clients img {
        height: 124px;
    }
    /* Contact Section */
    
    #contact {
        position: relative;
    }
    
    #contact::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.7;
    }
    
    #contact-box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 34px;
    }
    
    #contact-box input,
    #contact-box textarea {
        width: 100%;
        padding: 0.5rem;
        border-radius: 9px;
        font-size: 1.1rem;
    }
    
    #contact-box form {
        width: 40%;
    }
    
    #contact-box label {
        font-size: 1.3rem;
        font-family: 'Bree Serif', serif;
    }
    
    .forthrow {
        display: flex;
        flex-wrap: wrap;
    }
    
    .contact {
        width: 100vw;
        height: 100vh;
        background-color: rgb(241, 31, 31);
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .contact:before {
        content: "";
        background-color: rgb(223, 209, 209);
        height: 100%;
        width: 100%;
        border-radius: 0 50%;
    }
    
    .contact form {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 40px;
        border: 1px solid #803300;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        width: 40%;
        background-color: white;
    }
    
    .contact form input {
        margin: 5px;
        height: 24pt;
        font-size: 1.1rem;
        padding: 10px;
        border: 1px solid #883300;
        background-color: rgb(223, 209, 209);
    }
    
    .form-inp {
        margin: 5px;
        height: 24pt;
        font-size: 1rem;
        background-color: rgb(223, 209, 209);
        border: 1px solid #883300;
    }
    
    .contact form button {
        align-self: start;
        padding: 8px 10px 8px 10px;
        background-color: rgb(1, 6, 30);
        color: white;
        border: 1px solid #05010a;
        margin: 5px;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .contact form h2 {
        padding: 10px;
        font-weight: bold;
        color: rgb(22, 5, 5);
    }
    
    .footer_container {
        display: flex;
        color: rgb(10, 5, 5);
        padding: 50px;
        margin: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .footer_container div {
        padding: 30px;
    }
    
    .footer_para {
        font-size: 17px;
    }
    
    footer {
        background-color: #6f9196;
    }
    
    footer h3 {
        margin-bottom: 20px;
    }